@keyframes cloud {
    0%{
        left: 90%;
        transform: translate(-50%, -20%);
    }
    100%{
        left: 55%;
        transform: translate(-50%, -20%);
    }
}
@keyframes loader-text {
    from{
        font-size: 0px;
    }
    to{
        font-size: 38px;
        /* display: inline; */
    }
}