@media screen and (max-width: 768px) {
    .favorite-container::scroll-button(right),
    .favorite-container::scroll-button(left){
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .loader-text{
        font-size: 30px;
    }
    .sun{
        width: 80px;
        height: 80px;
    }
    .single-cloud{
        width: 80px;
    }
    @keyframes loader-text {
        from{
            font-size: 0px;
        }
        to{
            font-size: 30px;
            /* display: inline; */
        }
    }
    .add-ads{
        display: none;
    }
    .weather-update{
        max-width: 300px;
    }
    .favorite-container::scroll-button(right),
    .favorite-container::scroll-button(left){
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .loader-text{
        font-size: 25px;
    }
    @keyframes loader-text {
        from{
            font-size: 0px;
        }
        to{
            font-size: 25px;
            /* display: inline; */
        }
    }
    .favorite-container::scroll-button(right),
    .favorite-container::scroll-button(left){
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .loader-text{
        font-size: 22px;
    }
    .sun{
        width: 70px;
        height: 70px;
    }
    .single-cloud{
        width: 70px;
    }
    @keyframes loader-text {
        from{
            font-size: 0px;
        }
        to{
            font-size: 22px;
            /* display: inline; */
        }
    }
    .weather-update{
        max-width: 235px;
        padding: 10px 0 10px 5px;
        gap: 25px;
    }
    .between-heading{
        font-size: 30px;
    }
    .between-text{
        font-size: 30px;
    }
    .favorite-container::scroll-button(right),
    .favorite-container::scroll-button(left){
        display: none;
    }
}