*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #1B3C59; */
    display: flex;
    flex-wrap: wrap;
}

:root{
    --primary-color: #f1f1f1;
    --secondary-color: #f1f1f1;
}
.first-loader{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background: linear-gradient(60deg, rgb(135, 206, 235 ,0.5), #808080); */
    background-color: black;
}
.first-loader video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
}
.sun{
    width: 90px;
    height: 90px;
    background-color: gold;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 0px 19px 8px rgb(255, 144, 12, 1);
    position: relative;
} 
.single-cloud
{
    top: 40px;
    /* left: 90px; */
    transform: translate(-50%, -90%);
    position: absolute;
    z-index: 2;
    animation: 2s cloud linear infinite;
}
.loader-text
{
    color: transparent;
    font-size: 38px;
    background: url("../images/sun.png");
    -webkit-text-stroke:.7px ;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-clip: text;
    -webkit-background-clip:text;
    background-position: center;
    animation: 2.3s loader-text linear;
}
@keyframes loader {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-100%);
    }
}